
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.slide-in-top {
  animation: slideInTop 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
