
:root {
  --primary-color: #00A896;
  --secondary-color: #02C39A;
  --background-color: #f0f4f8;
  --text-color: #212529;
  --heading-font: 'Poppins', sans-serif;
  --body-font: 'Roboto', sans-serif;
  --border-radius: 8px;
  --shadow: 0 4px 6px rgba(0,0,0,0.1);
}

body {
    font-family: var(--body-font);
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: #343a40;
  }

  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1;
    padding-top: 80px;
  }

@media (max-width: 768px) {
  main {
    padding-top: 70px;
  }
}
